body {
	background: white;
	font-family: "Helvetica Neue"
}

a {
	 color : black;
	 text-decoration: none;
}

a:hover {
	color: #E80000;
	text-decoration: none;
}

.wrapper {
	width: 50%;
	margin: 25% 25%;
}

.name {
	color : black;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 100;
	font-size: 50px;
}

.email {
	color : black;
	/*font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
	font-family: monospace;
	font-weight: 100;
	margin-top: 200px;
	margin-left: 25px;
}

.link {
	color : black;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 200;
	font-size: 25px;
	margin-top: 7px;
	margin-left: 25px;
}

p {
	font-size: 12px;
}

/*top, right, bottom, left*/